/* GLOBAL STYLES */
* {
box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	max-width: 1920px;
/*	min-width: 600px; */
}

@font-face {
	font-family: Accent;
	src: url('../fonts/Accent.ttf');
}

@font-face {
	font-family: Lato-Bold;
	src: url('../fonts/Lato-Bold.ttf');
}

header {
	margin: 0 auto;
	height: auto;
	width: 100%;
	font-family: Accent;
	padding-top: 10px;
/*	background: #E10098;       */
	background: #000;
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	justify-content: center;
}

header a {
	text-decoration: none;
}

header img {
	margin: 0 auto;
	max-height: 70px;
}

h1 {
	margin: 0;
	width: auto;
	height: auto;
	font-size: 60px;
	color: White;
}

#headerEmpujarImgIzq {
	margin-left: auto;
}

#headerEmpujarImgIzq img {
	max-height : 50px;
	height: auto;
	padding-right: 20px;
}

nav {
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: auto;
	background: hotpink;
	display: flex;
	align-items: center;
}

nav ul {
	margin: 0 auto;
	width: auto;
	height:auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	list-style: none;
}

nav ul li {
	margin: 0 auto;
	height: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 23px;
}

nav ul li a {
	color: white;
	font-family: Lato-Bold;
	font-size: 22px;
	text-decoration: none;
}

nav ul li:hover {
	background: #E10098;
}

main {
	background: #FFF;
}

.galeriaSlider {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.galeria img {
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: block;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

h2 {
	margin: 0 auto;
	height: auto;
	font-family: Lato-Bold;
	font-size: 2.5rem;
	padding: 35px 25px;
	text-align: center;
	color: white;
	background: #E10098;
}

section {
	margin: 0 auto;
	max-width: 100%;
}

.descuentos {
	margin: 0 auto;
	max-width: 80%;
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.descuentos img {
	margin: 2%;
	max-width: 20%;
	height: auto;
	border-radius: 10%;
}

.descuentos img:hover {
	box-shadow: 10px 10px 10px rgba(254,2,154,0.40), 0 0 50px rgba(254,2,154,0.25) inset;
	transform: scale(1.1, 1.1)
}

#bannerDescuento img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	display: block;
}

.masvendidos {
	margin: 0 auto;
	max-width: 80%;
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}

.productoMasVendido {
	margin: 20px;
	max-width: 26%;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productoMasVendido img{
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	border-radius: 4px 4px 0 0;
}

.productoMasVendido h4 {
	margin-top: 5px;
}

.productoMasVendido p {
	margin-top: 3px;
}

.productoMasVendido h5 {
	margin: 3px;
}

.productoMasVendido:hover {
	box-shadow: 7px 7px 7px rgba(254,2,154,0.40), 0 0 30px rgba(254,2,154,0.25) inset;
	transform: scale(1.05, 1.05);
}

.botonComprar {
	margin: 0;
	height: auto;
	max-width: 100%;
	background: Black;
	color: White;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	padding: 10px 35px;
	border: 2px solid Black;
	border-radius: 4px;
	cursor: pointer;
}

.botonComprar:hover {
	background: White;
	color: Black;
}

#bannerModa img {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.seccionProductos {
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}

.producto {
	margin: 25px;
	max-width: 25%;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px rgba(254,2,154,0.40);
}

.producto img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	border-radius: 4px 4px 0 0;
}

.producto h4 {
	margin-top: 5px;
}

.producto p {
	margin-top: 3px;
}

.producto h5 {
	margin: 3px;
}

.producto:hover {
	box-shadow: 7px 7px 7px rgba(254,2,154,0.40), 0 0 30px rgba(254,2,154,0.25) inset;
	transform: scale(1.05, 1.05);
}

footer {
	margin: 0 auto;
	width: 100%;
	height: auto;
	background: #E10098;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

footer p {
	color: White;
}

footer img {
	margin: 5px;
	max-width: 120px;
	height: auto;
	border-radius: 50%;
}
